
[submodule "browser"]
	path = browser
	url = git@github.com:Independent-AI-Labs/AMI-WEB.git
[submodule "ux"]
	path = ux
	url = git@github.com:Independent-AI-Labs/AMI-UX.git
[submodule "base"]
	path = base
	url = git@github.com:Independent-AI-Labs/AMI-BASE.git
[submodule "streams"]
	path = streams
	url = git@github.com:Independent-AI-Labs/AMI-STREAMS.git
[submodule "compliance"]
	path = compliance
	url = git@github.com:Independent-AI-Labs/AMI-COMPLIANCE.git
[submodule "domains"]
	path = domains
	url = git@github.com:Independent-AI-Labs/AMI-DOMAINS.git
[submodule "files"]
	path = files
	url = git@github.com:Independent-AI-Labs/AMI-FILES.git
[submodule "nodes"]
	path = nodes
	url = git@github.com:Independent-AI-Labs/AMI-NODES.git
[submodule "cli-agents/gemini-cli"]
	path = cli-agents/gemini-cli
	url = https://github.com/google-gemini/gemini-cli.git
	branch = main
[submodule "agents/codex-cli"]
	path = agents/codex-cli
	url = https://github.com/microsoft/Codex-CLI.git
	branch = main
