[MASTER]
load-plugins=pylint.extensions.docparams
jobs=0

[MAIN]
# This hook adds the project's root directory to the Python path.
# This is necessary to ensure that pylint can correctly resolve imports
# when run from the 'orchestrator' subdirectory.
init-hook='import sys; sys.path.insert(0, ".")'

[MESSAGES CONTROL]
disable=C0114,C0115,C0116,R0903,R0913,W0613,too-many-positional-arguments,subprocess-popen-preexec-fn,consider-using-with,import-self,broad-exception-raised,too-many-branches

[FORMAT]
max-line-length=160

[DESIGN]
max-args=7
max-locals=50
max-statements=90
max-branches=15
